{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title_block %}
   About
{% endblock %}

{% block body_block %}

    <div class="container py-5">
        <div>
            <h1>
                Meet our team members
            </h1>
            <p>
                COMPSCI5012 ITech Group 27
            </p>
        </div>

    <hr class="my-5">

    <div class="container">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <h2 class="fw-normal">Benjamin Ng</h2>
            <p>GUID:2136125 Working on ............</p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <h2 class="fw-normal">Xin Huang</h2>
            <p>GUID:2816370 Working on ............</p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <h2 class="fw-normal">Zhexi Ju</h2>
            <p>GUID:2937666 Working on ............</p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <h2 class="fw-normal">Beijia Kan</h2>
            <p>GUID:2876154 Working on ............</p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <h2 class="fw-normal">Nduka Ofoeyeno</h2>
            <p>GUID:2513830 Working on ............</p>
          </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
    
      </div>
{% endblock %}