{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Contact us
{% endblock %}

{% block body_block %}
    
      <div class="container py-4">
    
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">General Support</h1>
            <p class="col-md-8 fs-4">Get help with general support. e.g. what is tomatoes? what is entree?</p>
            <button class="btn btn-primary btn-lg" type="button" onclick="window.location.href='{% url 'app:generalsupport' %}';">Get Help</button>
          </div>
        </div>
    
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
              <h2>Technical Support</h2>
              <p>Get help with technical support. e.g.Cannot see images. Cannot open the about page. invalid button</p>
              <button class="btn btn-primary btn-lg" type="button" onclick=""window.location.href='{% url 'app:technicalsupport' %}';">Get Help</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
              <h2>Account Support</h2>
              <p>Get help with account support. e.g.cannot log into my account. Change username. Delete my account.</p>
              <button class="btn btn-primary btn-lg" type="button" onclick="window.location.href='{% url 'app:accountsupport' %}';">Get Help</button>
            </div>
          </div>
        </div>
    
        <footer class="pt-3 mt-4 text-body-secondary border-top">
          © 2024 Group 27 
        </footer>
      </div>
    </main>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
{% endblock %}