
{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Create Recipe
{% endblock %}

{% block head_custom %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          document.querySelector('form').addEventListener('submit', function(e) {
              e.preventDefault();



          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
                var csrftoken = getCookie('csrftoken');
               function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                   beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    })



              document.querySelectorAll('.error-message').forEach(el => el.remove());

              let isValid = true;

              if (!document.getElementById('UploadImage').files.length) {
                displayError('UploadImage', 'Please upload at least one picture.');
                isValid = true;
              }

              if (!document.getElementById('create-name').value.trim()) {
                displayError('create-name', 'Title cannot be empty.');
                isValid = false;
              }

              let typeSelect = document.getElementById('search-type');
              let typeOptionText = typeSelect.options[typeSelect.selectedIndex].text;
              let originSelect = document.getElementById('search-origin');
              let originOptionText = originSelect.options[originSelect.selectedIndex].text;

              if (typeOptionText === 'Select a type') {
                displayError('search-type', 'Please select a type of recipe.');
                isValid = false;
              }

              if (originOptionText === 'Select origin') {
                displayError('search-origin', 'Please select the origin of the recipe.');
                isValid = false;
              }

              if (!document.getElementById('Ingredient').value.trim()) {
                displayError('Ingredient', 'Ingredients cannot be empty.');
                isValid = false;
              }

              if (!document.getElementById('Instruction').value.trim()) {
                displayError('Instruction', 'Instructions cannot be empty.');
                isValid = false;
              }

              if (isValid) {
                  console.log('Recipe Information:');
                  console.log('Title: ' + document.getElementById('create-name').value);
                  console.log('Type of Recipe: ' + typeOptionText);
                  console.log('Origin of Recipe: ' + originOptionText);
                  console.log('Ingredients: ' + document.getElementById('Ingredient').value);
                  console.log('Instructions: ' + document.getElementById('Instruction').value);
                  sendRecipeDetail();

                }
              });

              function displayError(elementId, message) {
                let element = document.getElementById(elementId);
                let errorMessage = document.createElement('div');
                errorMessage.innerHTML = message;
                errorMessage.style.color = 'red';
                errorMessage.className = 'error-message';
                element.parentNode.insertBefore(errorMessage, element.nextSibling);
              }

              function sendRecipeDetail(){
              var recipe_name = $("#create-name").val();
              var type = $("#search-type").val();
              var origin = $("#search-origin").val();
              var ingredients = $("#Ingredient").val();
              var instructions = $("#Instruction").val();


               $.ajax({
                   type: 'POST',
                   url: '{% url 'app:create' %}',
                   data:{
                   recipe_name: recipe_name,
                   type: type,
                   origin: origin,
                   ingredients: ingredients,
                   instructions: instructions},
                   dataType: "json",
                   enctype: 'multipart/form-data',
               })



              }
            });






    </script>
{% endblock %}
{% block body_block %}

<div class="container mt-5">

    <h2>Create a new Recipe</h2>

    <form>
        <div class="mb-3">
            <label for="UploadImage" class="form-label">Upload your pictures</label>
            <input class="form-control" type="file" id="UploadImage" accept="image/*" multiple>
        </div>

        <div class="mb-3">
            <label for="create-name" class="form-label">Title</label>
            <input class="form-control me-2" type="text" id="create-name" placeholder="" aria-label="create">
        </div>

        <div class="mb-3">
            <label for="search-type" class="form-label">Type of Recipe</label>
            <select class="form-select" id="search-type" aria-label="select-type">
                <option selected>Select a type</option>
                <option value="Appetizer">Appetizer</option>
                <option value="Dessert">Dessert</option>
                <option value="Drink">Drink</option>
                <option value="Entree">Entree</option>
                <option value="Salad">Salad</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="search-origin" class="form-label">Origin of Recipe</label>
            <select class="form-select" id="search-origin" aria-label="select-origin">
                <option selected>Select origin</option>
                <option value="Italian">Italian</option>
                <option value="Indian">Indian</option>
                <option value="French">French</option>
                <option value="Mexican">Mexican</option>
                <option value="Asian">Asian</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="Ingredients" class="form-label mt-3">Ingredients</label>
            <textarea class="form-control" id="Ingredient" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label for="Instruction" class="form-label mt-3">Instructions</label>
            <textarea class="form-control" id="Instruction" rows="6"></textarea>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
        © 2024 Group 27
    </footer>
</div>

{% endblock %}