{% extends 'app/base.html' %}
{% load staticfiles %}


{% block title_block %}
   Profile
{% endblock %}

{% block head_custom %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      var username = "{{ username }}";
      const favButton = document.getElementById("favButton");
          favButton.addEventListener('submit', function(e) {
              e.preventDefault();



          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
                var csrftoken = getCookie('csrftoken');
               function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                   beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    })


                sendRequestToBackend();
              });



              function sendRequestToBackend(){




              }
            });
    </script>
{% endblock %}
{% block body_block %}
    <h1 class="display-5 fw-bold">{{ username }}'s Profile</h1>
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row justify-content-center">
            <h2 class="display-8 fw-bold">{{ username }}'s {{ type }}</h2>
        </div>

    </div>


    <div class="container row align-items-md-stretch py-4">


        <div class="container d-flex flex-column col-md-2">
                   <form method="post" action="{% url 'app:profile' request.user.username %}">
                {% csrf_token %}

            <button type="submit" class="btn btn-primary mb-5" value="create"
            name="button">
                Create Recipe
            </button>

            <button type="submit" class="btn btn-primary mb-5" value="myRecipes"
            name="button">
                My Recipes
            </button>

            <button type="submit" class="btn btn-outline-danger mt-5" id="favButton" value="favourite"
            name="button"
            onclick="window.location.href='{% url 'app:profile'  username  %}'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"></path>
                </svg>
                My Favourite
            </button>
        </div>
            </form>

        {% if recipes %}
        <div class="container d-flex justify-content-center col-md-10" style="flex-wrap: wrap;">
            {% for recipe in recipes %}
            <div class="card mx-4 mb-3" style="width: 18rem;">
                {% if recipe.Image %}
                <img src="{{ recipe.Image.url }}" class="card-img-top" alt="example">
                {% else %}
                <img src="{% static 'images/logo.png' %}" class="card-img-top" alt="example">
                {% endif %}
                <div class="card-body">
                    <h6 class="card-recipe-type">{{ recipe.Type }}</h6>
                    <h5 class="card-title">{{ recipe.Title }}</h5>
                    <p class="card-text">{{ recipe.Ingredients }}</p>
                    <a href="{% url 'app:recipe'  recipe.RecipeID  %} " class="icon-link gap-1 icon-link-hover stretched-link">
                        View recipe
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        
        {% else %}
        <strong>No recipes available</strong>
        {% endif %}
<!--            <div class="card mx-4" style="width: 18rem;">-->
<!--                <img src="logo.png" class="card-img-top" alt="example">-->
<!--                <div class="card-body">-->
<!--                    <h6 class="card-recipe-type">Type</h6>-->
<!--                    <h5 class="card-title">Card title</h5>-->
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">-->
<!--                        More details-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="card mx-4" style="width: 18rem;">-->
<!--                <img src="logo.png" class="card-img-top" alt="example">-->
<!--                <div class="card-body">-->
<!--                    <h6 class="card-recipe-type">Type</h6>-->
<!--                    <h5 class="card-title">Card title</h5>-->
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">-->
<!--                        More details-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>  -->
        </div> 
    </div>

    <div class="container col-md-12 d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item">
                <span class="page-link">&laquo;</span>
              </li>
              <li class="page-item active" aria-current="page">
                <span class="page-link">1</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
              </li>
            </ul>
        </nav>
    </div>

 {% endblock %}