{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Profile
{% endblock %}
{% block body_block %}
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
    
            <div class="dropdown text-end">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">New Recipe</a></li>
                <li><a class="dropdown-item" href="#">My Collection</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
    </header>

    <div class="container row align-items-md-stretch py-4">
        <div class="container d-flex flex-column col-md-2">
            <button type="button" class="btn btn-primary mb-5">
                Create Recipe
            </button>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    My Collections
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Collection 1</a></li>
                    <li><a class="dropdown-item" href="#">Collection 2</a></li>
                    <li><a class="dropdown-item" href="#">Collection 3</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Create Collection</a></li>
                </ul>
            </div>
        </div>
        <div class="container d-flex col-md-10">
            <div class="card mx-4" style="width: 18rem;">
                <img src="logo.png" class="card-img-top" alt="example">
                <div class="card-body">
                    <h6 class="card-recipe-type">Type</h6>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        More details
                    </a>
                </div>
            </div>

            <div class="card mx-4" style="width: 18rem;">
                <img src="logo.png" class="card-img-top" alt="example">
                <div class="card-body">
                    <h6 class="card-recipe-type">Type</h6>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        More details
                    </a>
                </div>
            </div>

            <div class="card mx-4" style="width: 18rem;">
                <img src="logo.png" class="card-img-top" alt="example">
                <div class="card-body">
                    <h6 class="card-recipe-type">Type</h6>
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        More details
                    </a>
                </div>
            </div>  
        </div> 
    </div>

    <div class="container col-md-12 d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
    </div>
       

   
  
    <footer class="pt-3 mt-4 text-body-secondary border-top">
        © 2024 Group 27 
    </footer>
 {% endblock %}