{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Title of Recipe
{% endblock %}

{% block head_custom %}
<link rel="stylesheet" href="style.css">
{% endblock %}

{% block body_block %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      console.log("DOM content loaded");
      console.log("started");

      var currentUrl = window.location.href;


   // Get the input element by its ID
    var inputElement = document.getElementById("shareLinkInput");

    // Override the value of the input field
    inputElement.value = currentUrl;


       function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
                var csrftoken = getCookie('csrftoken');
               function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                   beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    })
                    console.log("trying to link button");
      try {
    const addToFavourite = document.getElementById("addToFavourite");
    addToFavourite.addEventListener('click', function(e) {
        console.log("linked button");
        e.preventDefault();
        sendRequestToBackend(1);
    });
} catch(error) {
    console.error("Error:", error);
}


      try {
    const removeFromFavourite = document.getElementById("removeFromFavourite");
    removeFromFavourite.addEventListener('click', function(e) {
        console.log("linked button");
        e.preventDefault();
        sendRequestToBackend(2);
    });
} catch(error) {
    console.error("Error:", error);
}

 try {
const addToFavourite = document.getElementById("report");
    addToFavourite.addEventListener('click', function(e) {
        console.log("linked button");
        e.preventDefault();
        sendRequestToBackend(3);
    });
} catch(error) {
    console.error("Error:", error);
}

              function sendRequestToBackend(buttonResponse){
              let recipeID = "{{ recipeID }}";
              console.log("Value of test1:", recipeID);
                let url = "/recipe/" + recipeID + "/";
                console.log("Constructed URL:", url);
                console.log(buttonResponse);

                $.ajax({
                   type: 'POST',
                   url: url,
                   data:{
                   buttonType: buttonResponse},
                   dataType: "json",
                   enctype: 'multipart/form-data',
               }).done(function(data){
                if(data.success){
                window.location.href = data.url;
                }
                });



              }
            });
    </script>


      <main>

        <div class="container py-4 border-bottom">

            <h1 class="mb-5">{{ recipe_name }}</h1>
            <div class="user-recipe mb-3">
                {% if recipeUsername.Image %}
                <img src="{{ recipeUsername.Image.url }}" alt="image of user" width="32" height="32" class="rounded-circle">
                {% else %}
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                {% endif %}
              <h5><a href="{% url 'app:profile' recipeUsername %}">{{ recipeUserOwner }}</a></h5>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-2 text-bg-dark rounded-3">
                        {% if currentRecipe.Image %}
                        <img src="{{ currentRecipe.Image.url }}" class="d-block w-100" alt="images">
                        {% else %}
                        <img src="{% static 'images/logo.png' %}" class="d-block w-100" alt="images">
                        {% endif %}
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2>Ingredients</h2>
                        <p>{{ ingredients }}</p>
                    </div>
                </div>

            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-2">
                    <div class="mt-4 h-100 p-5 rounded-3">


                        <button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#shareModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"></path>
                            </svg>
                            Share to Others
                        </button>

                        {% if userAccount %}

                        {% if currentRecipe in userAccount.Favourites.all %}
                        <button type="button" class="btn btn-outline-success" id="removeFromFavourite">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"></path>
                            </svg>
                            Remove from Favourites
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-outline-success mt-4" id="addToFavourite">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"></path>
                            </svg>
                            Add to Favourite
                        </button>
                        {% endif %}

                        {% else %}
                        {% endif %}


                        <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="shareModalLabel">Share URL</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <p>Press the copy to share the URL</p>
                                <input type="text" readonly class="form-control" id="shareLinkInput" value="https://example.com">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="copyLink()">Copy</button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                          <div id="copyToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                              <strong class="me-auto">Note</strong>
                              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                              URL copied to Clipboard!!
                            </div>
                          </div>
                        </div>

                        {% if userAccount %}
                        <button type="button" class="btn btn-outline-danger mt-5" id="report">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-fill-exclamation" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m-.55 8.502L7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0M8.002 12a1 1 0 1 1 0-2 1 1 0 0 1 0 2"></path>
                            </svg>
                            Report
                          </button>
                        {% else %}
                        {% endif %}

                    </div>
                </div>

                <div class="p-5 mt-4 col-md-10 bg-body-tertiary rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Instructions</h1>
                        <p class="col-md-8 fs-4">{{ instructions }}</p>
                    </div>
                </div>
            </div>


{% endblock %}