{% extends 'app/base.html' %}
{% load staticfiles %}



{% block title_block %}
   Report a Recipe
{% endblock %}

{% block head_custom %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css">
{% endblock %}

{% block body_block %}


<script>

document.addEventListener('DOMContentLoaded', function() {
    const button0 = document.getElementById("submitButton");
    console.log("binded");
    button0.addEventListener('click', function(e) {
        e.preventDefault();
        console.log("test");



        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
                var csrftoken = getCookie('csrftoken');
               function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                   beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    })
                    sendChangeRequest();
    });

    function sendChangeRequest() {
        var username = $("#Signup-Nickname").val();
        var email = $("#email").val();
        var phone = $("#phone").val();
        var password = $("#change-password").val();

        $.ajax({
            type: 'POST',
            url: '{% url 'app:settings' %}',
            data: {
                username: username,
                email: email,
                phone: phone,
                password: password
            },
            dataType: "json",
            enctype: 'multipart/form-data',
        }).done(function(data) {
            if (data.success) {
                window.location.href = data.url;
            }
        });
    }
});


</script>

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <span class="fs-4">CookPal - <span style="font-size: smaller;">Edit Account Information</span></span>
          </div>
        </div>
    </header>

    
    <div class="container mt-5">

        <form>

            <div class="user-settings">
                <img src="https://github.com/mdo.png" alt="mdo" width="140" height="140" class="rounded-circle">
                <div class="mb-3 mt-2">
                    <p>Update your photo</p>
                    <input class="form-control" type="file" id="UploadImage" accept="image/*" multiple>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
        
        <div class="container">
            <div class="d-flex">
                <div class="container">
                    <form class="mb-5 mt-5 mx-5 my-5">
    
                        <div>
                            <label for="Signup-Nickname" class="form-label mt-3">Nickname</label>
                            <input type="text" class="form-control" id="Signup-Nickname" placeholder="Enter Nickname" name="Signup-Nickname">
                        </div>
    
                        <div>
                            <label for="email" class="form-label mt-3">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
    
                        <div>
                            <label for="phone" class="form-label mt-3">Phone</label>
                            <input type="number" class="form-control" id="phone" placeholder="Enter phone" name="phone">
                        </div>

                        <hr class="mt-5">  
                        
                        <h3 for="passwordForm" class="form-label mt-3">Change your password</h3>

                        <div>
                            <label for="change-password" class="form-label mt-3">Password</label>
                            <input type="password" class="form-control" id="change-password" placeholder="Enter password" name="change-password">
                        </div>

                       
                        <div>
                            <label for="change-password-confirm" class="form-label mt-3">Confirm your Password</label>
                            <input type="password" class="form-control" id="change-password-confirm" placeholder="Enter password" name="change-password-confirm" onblur="checkPasswords()">
                        </div>
                        <div id="checkPassword"></div>
        

                        <div class="d-flex justify-content-center align-items-center">
                            <button type="click" class="btn btn-primary mb-3 mt-3"
                            id="submitButton">Update</button>
                        </div>
    
                    </form>
                </div>
            </div>
        </div>

        <footer class="pt-3 mt-4 text-body-secondary border-top">
          © 2024 Group 27 
        </footer>

      </div>

    
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}