.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 30px;
  }
  
.star {
    cursor: pointer;
    color: gold;
  }

.dateInComment{
    color:grey;
}
 
.dateInSubComment{
  color:grey;
}