<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Need change]Title of Recipe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header class="p-3 mb-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <span class="fs-4">CookPal</span>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 link-secondary">Login/Signup</a></li>
              <li><a href="#" class="nav-link px-2 link-body-emphasis">About</a></li>
              <li><a href="#" class="nav-link px-2 link-body-emphasis">Contact us</a></li>
            </ul>
    
            <div class="dropdown text-end">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">New Recipe</a></li>
                <li><a class="dropdown-item" href="#">My Collection</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
    </header>
      

      <main>
        <div class="container py-4 border-bottom">

            <h1 class="mb-5">Title of Recipe</h1>
      
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-bg-dark rounded-3">
                        <div id="carouselImageAutoplaying" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="logo.png" class="d-block w-100" alt="images">
                              </div>
                              <div class="carousel-item">
                                <img src="logo.png" class="d-block w-100" alt="images">
                              </div>
                              <div class="carousel-item">
                                <img src="logo.png" class="d-block w-100" alt="images">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselImageAutoplaying" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselImageAutoplaying" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2>Ingredients</h2>
                        <p>Ingredients Ingredients Ingredients Ingredients Ingredients Ingredients Ingredients Ingredients</p>
                    </div>
                </div>

            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-2">
                    <div class="mt-4 h-100 p-5 rounded-3">
                        <button type="button" class="btn btn-outline-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"></path>
                            </svg>
                            Add to Collection
                        </button>

                        <button type="button" class="btn btn-primary mt-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"></path>
                            </svg>
                            Share to Others
                        </button>

                        <button type="button" class="btn btn-outline-danger mt-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-fill-exclamation" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m-.55 8.502L7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0M8.002 12a1 1 0 1 1 0-2 1 1 0 0 1 0 2"></path>
                            </svg>
                            Report
                          </button>

                    </div>
                </div>

                <div class="p-5 mt-4 col-md-10 bg-body-tertiary rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Instructions</h1>
                        <p class="col-md-8 fs-4">Instructions here...  Instructions here...  Instructions here...  Instructions here...  Instructions here...  Instructions here...  Instructions here...  Instructions here...  </p>
                    </div>
                </div>
            </div>

            <form>
                <div class="row align-items-md-stretch">
                
                    <div class="rating p-5 mt-4 col-md-3">
                        <p class="col-md-8 fs-6 text-center">Leave comment</p>
                        <span class="star" data-value="5">☆</span>
                        <span class="star" data-value="4">☆</span>
                        <span class="star" data-value="3">☆</span>
                        <span class="star" data-value="2">☆</span>
                        <span class="star" data-value="1">☆</span>
                    </div>

                
                    <div class="comment p-5 mt-4 col-md-8">
                        <textarea class="form-control" id="comment" placeholder="Leave your comment here..." rows="3"></textarea>
                    </div>  

                    <div class="commentPost p-5 mt-5 col-md-1">
                        <button type="submit" class="btn btn-primary mt-1">Post</button>
                    </div>

                </div>
            
            </form>
          
        </div>

        <div class="container py-4">
            <div class="row align-items-md-stretch">
                <div class="p-5 mt-1 col-md-2"></div>
                <div class="p-5 mt-1 col-md-10"><h3>Comments</h3></div>
                <div class="p-5 mt-1 col-md-2"></div>
                <div class="p-5 mt-1 col-md-8 bg-body-tertiary rounded-3">
                    <h5>Example User</h5>
                    <span class="star" data-value="1">☆</span>
                    <span class="star" data-value="2">☆</span>
                    <span class="star" data-value="3">☆</span>
                    <span class="star" data-value="4">☆</span>
                    <span class="star" data-value="5">☆</span>
                    <p class="fs-6">Comments here... Comments here... Comments here... Comments here... </p>
                    <p class="dateInComment">Date & Time</p>
                    <button type="button" class="replybtn btn-link" data-comment-id="comment1-reply">Reply</button>
                    <div class="reply-form" id="comment1-reply" style="display:none;">
                        <textarea placeholder="Write reply..."></textarea>
                        <button class="submit-reply">Submit</button>
                    </div>

                </div>
                <div class="p-5 mt-1 col-md-2"></div>


            </div>
        </div>

              

        

        <footer class="pt-3 mt-4 text-body-secondary border-top">
            © 2024 Group 27
        </footer>
      </main>
    <script src="scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>